@import "~select2/dist/css/select2.min.css";
@import "~select2-theme-bootstrap4/dist/select2-bootstrap.min.css";

.badge {
  font-size: 0.75rem !important;
}

.overflow-x {
  overflow-x: auto;
}

.ocultarTabela {
    opacity: 0;
    overflow: hidden;
  }


ul.select2-choices {
  padding-right: 30px !important;
}
.select2-selection--multiple:before {
  visibility:hidden;
}


table.dataTable {
  thead {
    .sorting, .sorting_asc, .sorting_desc, .sorting_asc_disabled, .sorting_desc_disabled {
      &:after, &:before {
        bottom: 0.9em
      }
    }
  }

  tbody {
    td:before {
      top: calc(50% - 0.9em) !important;
    }

    td, .custom-checkbox:focus {
      outline: none;
      position: relative;
    }

  }

  .custom-checkbox .custom-control-input {
    & ~ .custom-control-label {
      cursor: pointer;
    }

    &:disabled {
      & ~ .custom-control-label {
        cursor: not-allowed;
      }
    }
  }
}


.dataTables_wrapper {
  overflow: auto;
}

.ocultarTabela {
  opacity: 0;
  overflow: hidden;
}

.JCLRFlex {
   width: 100% !important;
}
