@import "~select2/dist/css/select2.min.css";
@import "~select2-theme-bootstrap4/dist/select2-bootstrap.min.css";

.custom-control-input:checked~.custom-control-label.check-success::before {
  background-color: #28a745 !important;
}
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label.check-success::before {
  background-color: rgba(#28a745, .5) !important;
}


.custom-control-input:checked~.custom-control-label.check-warning::before {
  background-color: #ffc107 !important;
}

.custom-control-input:checked~.custom-control-label.check-default::before {
  background-color: #6c757d !important;
}

.custom-control-input:checked~.custom-control-label.check-danger::before {
  background-color: #dc3545 !important;
}
.custom-control-input:checked~.custom-control-label.check-info::before {
  background-color: #17a2b8 !important;
}

.badge {
  font-size: 0.75rem !important;
}

.overflow-x {
  overflow-x: auto;
}

table.dataTable {
  thead {
    .sorting, .sorting_asc, .sorting_desc, .sorting_asc_disabled, .sorting_desc_disabled {
      &:after, &:before {
        bottom: 0.9em
      }
    }
  }

  tbody {
    td:before {
      top: calc(50% - 0.9em) !important;
    }

    td, .custom-checkbox:focus {
      outline: none;
      position: relative;
    }

  }

  .custom-checkbox .custom-control-input {
    & ~ .custom-control-label {
      cursor: pointer;
    }
    &:disabled {
      & ~ .custom-control-label {
        cursor: not-allowed;
      }
    }

  }

  .truncaTexto {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    top: 4px;
    right: 0;
    bottom: 0;
    left: 4px;
    position: absolute;
  }

  .alterarAnormalidade, .alterarLeitura, .alterarObservacao,
  .alterarPressao, .alterarTemperatura, .alterarDataLeitura {
    @extend .truncaTexto;
    cursor: pointer;
    padding-right: 15px;
    padding-left: 10px;
  }

  .textPontoConsumo {
    min-width: 180px;
    span {
      @extend .truncaTexto;
    }
  }

  .acoes {
    width: 40px;
  }

  .anormalidade, .leituraAtual, .observacaoLeitura, .temperatura, .pressao, .dataLeitura {
    min-width: 80px;
    i {
      cursor: pointer;
      z-index: 1;
      position: absolute;
      right: 1px;
      top: calc(50% - 7px);
    }
  }

  .anormalidade, .leituraAtual, .dataLeitura {
    min-width: 90px;
  }

}

.dataTables_wrapper {
  overflow: auto;
}

.ocultarTabela {
    opacity: 0;
    overflow: hidden;
  }


ul.select2-choices {
  padding-right: 30px !important;
}

.select2-selection--multiple:before {
  content: "";
  position: absolute;
  right: 7px;
  top: 42%;
  border-top: 5px solid #888;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

#tabelaLeituras_wrapper > div.row:nth-child(3) {
  margin-top: 15px;
}

#tabelaLeituras tbody tr.possuiAnormalidade td:not(:first-child):not(:nth-child(2)) {
  background-color: #ffc107;
}

#tabelaLeituras tbody tr.possuiAnormalidadeGrave td:not(:first-child):not(:nth-child(2)) {
  background-color: #de5050 !important;
  color: white;
}

.JCLRgripDrag {
  border-left: none;
}

fieldset {
  border-radius: 5px;
  margin-top: 6px !important;
}

legend {
  font-size: 14px !important;
  font-weight: normal;
}
