/*!
 *
 *  Copyright (C) <2018> GGAS – Sistema de Gestão Comercial (Billing) de Serviços de Distribuição de Gás
 *
 *  Este arquivo é parte do GGAS, um sistema de gestão comercial de Serviços de Distribuição de Gás
 *
 *  Este programa é um software livre; você pode redistribuí-lo e/ou
 *  modificá-lo sob os termos de Licença Pública Geral GNU, conforme
 *  publicada pela Free Software Foundation; versão 2 da Licença.
 *
 *  O GGAS é distribuído na expectativa de ser útil,
 *  mas SEM QUALQUER GARANTIA; sem mesmo a garantia implícita de
 *  COMERCIALIZAÇÃO ou de ADEQUAÇÃO A QUALQUER PROPÓSITO EM PARTICULAR.
 *  Consulte a Licença Pública Geral GNU para obter mais detalhes.
 *
 *  Você deve ter recebido uma cópia da Licença Pública Geral GNU
 *  junto com este programa; se não, escreva para Free Software
 *  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
 *
 *
 *  Copyright (C) 2011-2018 the GGAS – Sistema de Gestão Comercial (Billing) de Serviços de Distribuição de Gás
 *
 *  This file is part of GGAS, a commercial management system for Gas Distribution Services
 *
 *  GGAS is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; version 2 of the License.
 *
 *  GGAS is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place – Suite 330, Boston, MA 02111-1307, USA
 *
 */

/**
 * Css responsável por corrigir conflitos de estilo entre o template antigo do GGAS
 * e o novo template com bootstrap
 *
 * @author jose.victor@logiquesistemas.com.br
 */

.ui-widget-overlay {
  z-index: 1040;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}

.ui-dialog {
  z-index: 1041;

  &.ui-widget {
    display: grid;
  }
}

button.ui-dialog-titlebar-close:after {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-size: 0.8rem;
  font-weight: 900;
  color: #b0b0b0;
}

button.ui-dialog-titlebar-close:hover:after {
  color: $corGgas;
}

#conteudo {
  position: absolute;
  left: 270px;
  width: calc(100% - 270px);
  overflow-x: auto;
  top: 60px;
  padding-right: 0;
  height: calc(100% - 60px);
  @media (max-width: 768px) {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 114px);
    overflow: inherit;
    overflow-x: auto;
  }
}

#inner {
  width: calc(92.6% - 25px);
  max-width: 1350px;
  top: 82px;
  left: 25px;
  margin-bottom: 25px;

  @media (max-width: 768px) {
    width: 100%;
    top: 67px;
    left: 10px;
    margin-bottom: 10px;
  }
}

#conteudo {
  @media (min-width: 769px) {
    min-width: 962px;
  }
}

.breadCrumb {
  max-width: 1380px;
  width: 92.6%;
  top: 25px;
  left: 25px;

  @media (max-width: 768px) {
    top: 10px;
    left: 10px;
  }

}

.ggas_home_geral {
  @media (max-width: 768px) {
    position: relative;
    left: 0;
    top: auto;
    padding-top: 20px;
    width: 100%;
  }
}

.ggas_home_esq {
  @media (max-width: 768px) {
    left: auto;
    top: auto;
    width: calc(100% - 60px);
  }
}

.ggas_home_dir {
  @media (max-width: 768px) {
    top: auto;
    left: auto;
    margin: 20px;
    width: calc(100% - 60px);
  }
}

.modal-backdrop {
  transition: opacity .15s linear;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;

  &.fade { opacity: 0; }
  &.show { opacity: .5; }
}

.modal-open {
  overflow: hidden;
  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
