/*!
 *
 *  Copyright (C) <2018> GGAS – Sistema de Gestão Comercial (Billing) de Serviços de Distribuição de Gás
 *
 *  Este arquivo é parte do GGAS, um sistema de gestão comercial de Serviços de Distribuição de Gás
 *
 *  Este programa é um software livre; você pode redistribuí-lo e/ou
 *  modificá-lo sob os termos de Licença Pública Geral GNU, conforme
 *  publicada pela Free Software Foundation; versão 2 da Licença.
 *
 *  O GGAS é distribuído na expectativa de ser útil,
 *  mas SEM QUALQUER GARANTIA; sem mesmo a garantia implícita de
 *  COMERCIALIZAÇÃO ou de ADEQUAÇÃO A QUALQUER PROPÓSITO EM PARTICULAR.
 *  Consulte a Licença Pública Geral GNU para obter mais detalhes.
 *
 *  Você deve ter recebido uma cópia da Licença Pública Geral GNU
 *  junto com este programa; se não, escreva para Free Software
 *  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
 *
 *
 *  Copyright (C) 2011-2018 the GGAS – Sistema de Gestão Comercial (Billing) de Serviços de Distribuição de Gás
 *
 *  This file is part of GGAS, a commercial management system for Gas Distribution Services
 *
 *  GGAS is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; version 2 of the License.
 *
 *  GGAS is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place – Suite 330, Boston, MA 02111-1307, USA
 *
 */

/**
 * Contém estilos de sobrescrita e adição de estilos de forma global a plugins que são utilizados em toda
 * a aplicação. Ex.: Datatables
 *
 * @author jose.victor@logiquesistemas.com.br
*/

$alertPrimary: #007bff;

// Aplica o estilo do bootstrap em todo o elemento da página que esteja dentro de uma div com estilo .bootstrap
.bootstrap {
  @import "~bootstrap/scss/bootstrap-reboot.scss";
  @import "~bootstrap/scss/bootstrap";
  @import '~datatables.net-bs4/css/dataTables.bootstrap4.css';
  @import '~datatables.net-buttons-bs4/css/buttons.bootstrap4.css';
  @import '~datatables.net-responsive-bs4/css/responsive.bootstrap4.css';
  @import "~@fortawesome/fontawesome-free/css/all.css";
  @import "~@fortawesome/fontawesome-free/css/regular.css";

  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  //Sobrescreve estilo do ui-datepicker
  .ui-datepicker-trigger {
    margin: 5px 0 0 0 !important;
  }

  .input-group {
    .ui-datepicker-trigger {
      margin: 0 !important;
      height: 31px;
    }
  }

  //Sobrescreve e inclui estilos do datatable
  .paginate_button.page-item.active {
    .page-link {
      color: #fff !important;
    }
  }

  .dataTables_filter {
    label {
      padding: 0;
      float: right;
    }
  }

  .table .thead-ggas-bootstrap th {
    background-color: $corGgas;
    border-color: $corGgas;
    color: white;
    vertical-align: middle;
    padding: 0.25rem;
  }
  table.dataTable {
    tbody {
      tr.odd {
        background-color: #f5f5f5;
      }
      td {
        vertical-align: middle;
        padding: 0.25rem;
      }
      tr:hover{
        background-color: #f0f0f0;
      }
    }

  }

  .custom-select {
    background: #FFF;
    font-size: 100%;
  }

  table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    bottom: 0.2em;
  }
  .table-bordered {
    border: 1px solid #d6d7d8;
  }

  .dataTable tbody {
    background-color: white;
  }

  //Sobrescreve o estilo do modal do GGAS
  .modal-content {
    border: 2px solid $corGgas;
    border-radius: 8px;

    .modal-header {
      color: white;
      background-color: $corGgas;
    }
    .close {
      color: white;
      font-size: 21pt;
      opacity: 1;
    }
  }

  //Sobrescreve scrollbars da aplicação
  ::-webkit-scrollbar {
    width: 7px
  }

  ::-webkit-scrollbar-thumb {
    background-color: #aaa;
    opacity: 0.5;
    border-radius: 6px;
    -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  }

  div.dataTables_wrapper div.dataTables_filter input {
    font-size: 9pt;
  }

  @media (max-width: 1504px) {
    .dataTables_wrapper .col-md-8 {
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
  }

  .card-body-with-scroll {
    max-height: 300px; overflow: auto; margin-right: 3px; margin-top: 1px;
  }

  .alert-primary {
    @include alert-variant(color-level($alertPrimary, $alert-bg-level), color-level($alertPrimary, $alert-border-level), color-level($alertPrimary, $alert-color-level));
  }

  .btn-danger {
    color: white;
  }

  .notification {
    height: 100%;
  }

  .invalid-feedback {
    color: #ff0c00;
    font-size: 100% !important;
  }

  .margin-top-menor {
    margin-top: -10px !important;
  }

  label {
    /**
     * sobreescrever estilo do estiloscss.css (linha 282) para aumentar fonte dos componentes do datatable (quantidade de itens por página, procurar)
     */
    font-size: 14px;
  }
   //Necessário caso queira remover as setas do spinner em um input type="number"
  input.input-sem-spinner {
    -moz-appearance: textfield;
    &[type="number"]::-webkit-outer-spin-button, &[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }


  img.ui-datepicker-trigger {
      cursor: pointer;
  }

  label.custom-control-label {
    padding: 2px 0 0;
    float: none;
  }

  //Remove margem inferior no parágrafo de notificação e reduz o espaçamento entre as linhas
  .notification p {
    margin-bottom: 0;
    line-height: 1.1rem;
  }

  .texto-caixa-alta {
    text-transform: uppercase;
    &::placeholder {
      text-transform: initial;
    }
  }

}
