/*!
 *
 *  Copyright (C) <2018> GGAS – Sistema de Gestão Comercial (Billing) de Serviços de Distribuição de Gás
 *
 *  Este arquivo é parte do GGAS, um sistema de gestão comercial de Serviços de Distribuição de Gás
 *
 *  Este programa é um software livre; você pode redistribuí-lo e/ou
 *  modificá-lo sob os termos de Licença Pública Geral GNU, conforme
 *  publicada pela Free Software Foundation; versão 2 da Licença.
 *
 *  O GGAS é distribuído na expectativa de ser útil,
 *  mas SEM QUALQUER GARANTIA; sem mesmo a garantia implícita de
 *  COMERCIALIZAÇÃO ou de ADEQUAÇÃO A QUALQUER PROPÓSITO EM PARTICULAR.
 *  Consulte a Licença Pública Geral GNU para obter mais detalhes.
 *
 *  Você deve ter recebido uma cópia da Licença Pública Geral GNU
 *  junto com este programa; se não, escreva para Free Software
 *  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
 *
 *
 *  Copyright (C) 2011-2018 the GGAS – Sistema de Gestão Comercial (Billing) de Serviços de Distribuição de Gás
 *
 *  This file is part of GGAS, a commercial management system for Gas Distribution Services
 *
 *  GGAS is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; version 2 of the License.
 *
 *  GGAS is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place – Suite 330, Boston, MA 02111-1307, USA
 *
 */

/**
 * Css responsável por definir o estilo do menu lateral esquerdo do GGAS
 *
 * @author jose.victor@logiquesistemas.com.br
 */

.be-left-sidebar {
  background-color: #f5f5f5;
  width: 270px;
  left: 0;
  position: absolute;
  border-right: 1px solid #e3e3e3;

  .left-sidebar-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
  }
  .left-sidebar-spacer {
    height: 100%;
    display: table-row;
  }
  .left-sidebar-scroll {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .left-sidebar-content {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .ps__rail-y {
    opacity: 0.6;
  }

}

@media (min-width: 768px) {
  .be-left-sidebar .left-sidebar-spacer {
    display: table-row;
  }
}

.be-left-sidebar {

  .nav-search {
    padding: 10px;
    background: #e9ecef;

    input {
      padding-left: 30px;
      color: $corFontePadrao
    }

    &:before {
      content: "\f002";
      position: absolute;
      left: 20px;
      line-height: 31px;
      float: left;
      font-family: "Font Awesome 5 Free";
      font-size: 0.7rem;
      font-weight: 900;
      color: #b0b0b0;
    }

  }

  .left-sidebar-toggle {
    display: none;
    background-color: #fff;
    padding: 16px 10px;
    color: #404040;
    font-weight: 300;
    font-size: 1rem;
    &:before {
      content: '\f077';
      float: right;
      font-family: "Font Awesome 5 Free";
      line-height: 22px;
      font-size: 0.7rem;
      font-weight: 900;
      color: #c5c5c5;
    }
    &.open:before {
      content: '\f078';
    }
  }
  .sidebar-elements {
    padding: 0;
    margin: 0 0 48px;

    .divider {
      padding: 20px 20px 0;
      color: #b0b0b0;
      line-height: 30px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 0.8rem;
    }
    > li {
      list-style: none;
      position: relative;
      > a {
        display: block;
        padding: 0 20px;
        color: #696969;
        font-size: 0.9rem;
        line-height: 3rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .addFavorito {
      color : #696969;
      position: absolute;
      right: 15px;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);

    }
  }
}

@media (max-width: 768px) {
  .be-left-sidebar .left-sidebar-toggle {
    display: block;
  }
}

.be-left-sidebar .sidebar-elements > li {
  > {
    a {
      .icon {
        line-height: 0.9rem;
        font-size: 0.8rem;
        min-width: 0.8rem;
        margin-right: 9px;
        text-align: center;
        vertical-align: middle;
      }
      &:hover {
        background-color: #f0f0f0;
        > span {
          color: #3d3d3d;
        }
      }
    }



    ul {
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
    }
  }

  &.open {
      > a {
        background-color: #f0f0f0;
        > span {
          color: #3d3d3d;
        }
      }
    }
}

.be-left-sidebar .sidebar-elements > li ul {
  display: none;
  background-color: #eee;
  padding: 10px 0;
  list-style: none;
  line-height: 1.6rem;
  .title {
    display: none;
  }
}

.be-left-sidebar {
  .sidebar-elements {
    > li {
      ul li {
        position: relative;
        > a {
          padding: 8px 40px 8px 49px;
          color: #696969;
          font-size: 13px;
          display: block;
          text-overflow: ellipsis;
          overflow: hidden;

          &:hover {
            background-color: #e7e7e7;
          }
        }
        &.open > a, &.active > a {
          color: $corGgas;
          background-color: #e7e7e7;

          &:before {
            color: $corGgas;
          }

        }
        ul {
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 0;
        }
        > ul {
          padding: 5px 0;
          > li {
            ul {
              padding: 5px 0;
            }
            > {
              a {
                padding-left: 59px;
              }
              ul > li > {
                a {
                  padding-left: 69px;
                }
                ul > li > {
                  a {
                    padding-left: 79px;
                  }
                  ul > li > a {
                    padding-left: 89px;
                  }
                }
              }
            }
          }
        }
      }
      &.active > a {
        padding-left: 20px;
        font-weight: 500;
        color: $corGgas;
        > span {
          color: $corGgas;
        }
      }
      &.open > ul {
        display: block;
        .nav-items .content > ul {
          display: block;
        }
      }
    }
    li {
      &.parent {
        > a:before {
          content: "\f077";
          font-family: "Font Awesome 5 Free";
          font-size: 0.7rem;
          font-weight: 900;
          position: absolute;
          right: 21px;
          color: #b0b0b0;
        }
        &.open > a:before {
          content: '\f078';
        }
      }
      &.open > ul {
        display: block;
      }

      &:not(.parent) {
        > a {
          padding-right: 40px;
        }
      }
    }
  }
  &:before {
    content: "";
    position: fixed;
    z-index: -1;
    width: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: inherit;
    border-right: 1px solid #e3e3e3;
  }
}

@media (max-width: 768px) {
  .be-left-sidebar:before {
    display: none;
  }
}

@media (max-width: 768px) {
  .be-left-sidebar {
    width: 100%;
    background-color: #fafafa;
    border-bottom: 1px solid #e3e3e3;
    border-right-width: 0;
    position: relative;
    .left-sidebar-content, .left-sidebar-scroll, .left-sidebar-spacer, .left-sidebar-wrapper {
      display: block;
      position: relative;
      overflow: visible;
    }
    .left-sidebar-spacer {
      display: none;
      border-top: 2px solid #f5f5f5;
      &.open {
        display: block;
      }
    }
    .left-sidebar-content {
      padding-bottom: 20px;
    }
    .sidebar-elements {
      > li {
        > {
          a {
            text-align: left;
            position: relative;
          }
          ul {
            position: relative;
            height: auto;
            width: 100%;
            left: 0;
            li > a {
              &:active {
                background-color: #e7e7e7;
              }
            }
            > li {
              &.title {
                display: none;
              }
              &.nav-items {
                display: block;
                height: auto;
                > .be-scroller {
                  height: auto;
                  overflow: visible;
                  > .content {
                    padding-top: 0;
                    overflow: visible;
                    position: relative;
                  }
                }
              }
            }
          }
        }
        &:hover {
          background-color: inherit;
          > ul {
            display: none;
          }
        }
      }
      li.open > ul {
        display: block;
      }
    }
  }
}

.be-left-sidebar {
  height: 100%;
  margin-top: 60px;
  padding-bottom: 60px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1029;
  .left-sidebar-content {
    position: absolute;
  }
  &:before {
    top: 60px;
  }
}

@media (max-width: 768px) {
  .be-left-sidebar .left-sidebar-content {
    position: relative;
  }
}

@media (max-width: 768px) {
  .be-left-sidebar {
    margin-top: 0;
    position: static;
    height: auto;
    padding-bottom: 0;
  }
}

.sidebar-elements {
  li.destaque.open > a, li.destaque > a {

    background-color: $corDestaqueMenu !important;
    &:hover {
      background-color: darken($corDestaqueMenu, 10%) !important;
    }
  }
}
