/*!
 *
 *  Copyright (C) <2018> GGAS – Sistema de Gestão Comercial (Billing) de Serviços de Distribuição de Gás
 *
 *  Este arquivo é parte do GGAS, um sistema de gestão comercial de Serviços de Distribuição de Gás
 *
 *  Este programa é um software livre; você pode redistribuí-lo e/ou
 *  modificá-lo sob os termos de Licença Pública Geral GNU, conforme
 *  publicada pela Free Software Foundation; versão 2 da Licença.
 *
 *  O GGAS é distribuído na expectativa de ser útil,
 *  mas SEM QUALQUER GARANTIA; sem mesmo a garantia implícita de
 *  COMERCIALIZAÇÃO ou de ADEQUAÇÃO A QUALQUER PROPÓSITO EM PARTICULAR.
 *  Consulte a Licença Pública Geral GNU para obter mais detalhes.
 *
 *  Você deve ter recebido uma cópia da Licença Pública Geral GNU
 *  junto com este programa; se não, escreva para Free Software
 *  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
 *
 *
 *  Copyright (C) 2011-2018 the GGAS – Sistema de Gestão Comercial (Billing) de Serviços de Distribuição de Gás
 *
 *  This file is part of GGAS, a commercial management system for Gas Distribution Services
 *
 *  GGAS is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; version 2 of the License.
 *
 *  GGAS is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place – Suite 330, Boston, MA 02111-1307, USA
 *
 */

/**
 * Responsável por definir o estilo do menu superior do GGAS
 *
 * @author jose.victor@logiquesistemas.com.br
 */

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;

  .container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

}

.navbar-nav {
  .dropdown-menu {
    position: static;
    float: none;
  }
}

.navbar-brand {
  line-height: 60px;
  height: 60px;
  width: 142px;
  background: url(../../../../src/main/webapp/images/logo_ggas.png) no-repeat 20px center;
  padding: 0 20px;
  margin: 0 auto;
  display: block;
}

.be-icons-nav {
  margin-right: 20px;

  > li.dropdown {
    position: static;
    > a {
      position: relative;
    }
  }
}

.be-top-header {
  background-color: $corGgas;
  border: 0;
  margin-bottom: 0;
  padding: 0;

  .be-navbar-header {
    display: flex;
    width: 270px;

    @media (max-width: 768px) {
      width: auto;
    }

  }

  .be-right-navbar {
    width: calc(100% - 270px);

    @media (max-width: 768px) {
      width: auto;
    }

    .navbar-nav {
      background-color: transparent;
    }

  }

  div.container-fluid {
    padding: 0;
  }

  .page-title {
    font-size: 1.2rem;
    line-height: 60px;
    float: left;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 20px;
    color: #FFF;

    @media (max-width: 1023px) {
      font-size: 1.0rem;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .favoritos {
    line-height: 60px;
    float: left;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: #FFF;

    .ps__rail-y {
      opacity: 0.6;
    }

    .title {
      font-size: 1rem;
      color: #8a8a8a;
      text-align: center;
      padding: 10px 0 8px;
      border-bottom: 1px solid #ebebeb;
    }

    .dropdown-menu {
      width: 300px;
      left: -100px;
    }

    a.dropdown-toggle {
      &:hover {
        background-color: darken($corGgas, 10%);
      }
    }

    .be-notifications {
      color: $corFontePadrao;

      &:after {
        border-bottom-color: #ffffff !important;
      }

      &:before {
        border-bottom: 8px solid transparent;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        content: "";
        display: inline-block;
        position: absolute;
        border-bottom-width: 9px;
        border-left-width: 9px;
        border-right-width: 9px;
        border-bottom-color: #c2c2c2;
        left: auto;
        right: 12px;
        top: -9px;
      }

      .be-scroller {
        position: relative;
        height: 222px;
      }

      .notificacao {
        background-color: $backgroundDefault;
        overflow: hidden;
        border-bottom: 1px solid #ebebeb;
        padding-right: 8px;

        > .notification-info {
          width: 204px;
          padding: 15px;
          float: left;
          line-height: 14px;
          display: block;
          color: $corFontePadrao;
          overflow: hidden;

        }
        > a {
          line-height: 17px;
          padding: 14px;
          text-align: center;
          color: $corGgas;

          &:hover {
            color: darken($corGgas, 10%);
            background-color: darken($backgroundDefault, 10%);
          }
        }
      }

    }

    @media(max-width: 861px) {
      > span {
        display: none;
      }
      > i {
        font-size: 1.3333em;
      }
    }

    @media(max-width: 1023px) {
      float: right;

      > li > a > span {
        display: none;
      }

      .dropdown-menu {
        left: -230px;
      }
    }

  }

  .menu-usuario-mobile {
    float: right;

    > li.dropdown {

      .dropdown-menu {
        width: 220px;
        padding: 0 0 7px;
        left: -155px;

        .user-info {
          background-color: $corGgas;
          color: #fff;
          overflow: hidden;
          padding: 20px 15px 14px;
          border-radius: 2px 2px 0 0;
          margin-bottom: 7px;

          .user-name {
            display: block;
            font-size: 1rem;
            text-align: center;
            line-height: 22px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          a {

            .icon {
              vertical-align: middle;
              margin-right: 10px;
            }

          }

        }

        .dropdown-item {
          font-weight: 400;
          display: block;
          width: 100%;
          clear: both;
          font-size: 0.8rem;

          .icon {
            line-height: normal;
            vertical-align: middle;
            margin-right: 8px;
            color: $corFontePadrao;
          }
        }

        a {
          &:hover {
            background-color: $backgroundDefault;
            color: #504e4e;
          }

          &:active, &:focus {
            background-color: transparent;
            color: #504e4e;
          }
        }

      }

      > a {
        padding-left: 5px;
        padding-right: 5px;
        &:hover {
          background-color: darken($corGgas, 10%);
        }
      }
    }

    @media (min-width: 1024px) {
      display: none;
    }

  }

  .navbar-nav {
    > li {
      > a.nav-link {
        line-height: 60px;
        color: #FFF;
        font-size: 14px;
        padding: 0 18px;
        outline: 0;
      }

      &.dropdown {
        .dropdown-menu {
          border-radius: 3px;
          margin-top: 12px;
          line-height: 20px;

          > a {
            color: #504e4e;
            padding: 10px 20px;
            min-width: 175px;
            line-height: 18px;
          }

          &:after {
            border-bottom: 8px solid #fff;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            top: -8px;
            content: "";
            display: inline-block;
            left: 42px;
            margin-left: -6px;
            position: absolute;
          }

          &:after {
            left: auto;
            right: 13px;
            border-bottom-color: $corGgas;
          }

        }
      }

    }
  }

}

.navbar-expand {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  > .container-fluid {
    padding-right: 0;
    padding-left: 0;
    flex-wrap: nowrap;
  }

  .navbar-nav {

    -webkit-box-direction: normal;

    .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
    }

    .dropdown-menu {
      position: absolute;
    }

  }

  .be-user-nav {
    margin-right: 0;

    @media (max-width: 1023px) {
      display: none;
    }

    a.nav-link:hover {
      background-color: darken($corGgas, 10%);
    }
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
