@charset "UTF-8";
/* CSS Document */

table {
	/*border: solid 1px #D5D5D5;*/
	border-collapse: collapse;
}

table td {
	/* border: 1px solid #D5D5D5;
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px; */
}
/*
table th {
	background-color: #EEE;
	border-right: 1px solid #D5D5D5;
	font-size: 13.5px;
	line-height: 120%;
	font-weight: bold;
	padding: 8px 5px;
	text-align: left;
}
*/

.scrolling_outer .ui-resizable {
	position:relative;
	width:100%;
}
.scrolling_inner .ui-resizable-handle {
	display:block;
	font-size:0.1px;
	position:absolute;
	z-index:99999;
}

.scrolling_inner .ui-resizable-s { 
	background:#EEEEEE url(../imagens/grippie.png) no-repeat scroll center 2px;
	border-top:1px solid #CCC;
	bottom:-5px;
	cursor:s-resize;
	height:14px;
	left:0;
	width:100%; 
}
div.scrolling_outer {margin-bottom: 7px}
div.scrolling_outer div.scrolling_inner {max-height: 300px}
div.scrolling_outer div.scrolling_inner table.dataTableGGAS {margin-left: -1px; margin-bottom: 0}