/* ================================================================ 
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/dd_valid.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the assocaited (x)html may be modified in any 
way to fit your requirements.
=================================================================== */
.menu {margin-top: -3px; border-left: 1px solid #c6cacd}
.menu ul li a, .menu ul li a:visited {border-left: none; margin-right: 0}
.menu ul li a.hide, .menu ul li a:visited.hide {display: none;}
.menu ul li a:hover ul li a.hide {display: none;}


.menu ul li a:hover {background: #d3dbde}
.menu ul li a:hover ul {display: block; position: absolute; top: 22px; left: 0; width: 144px; border-top: 1px solid #c6cacd; border-right: 1px solid #c6cacd; border-bottom: 1px solid #c6cacd;}
.menu ul li a:hover ul li a.sub {background: #d2d2d2; color: #1d263a;}
.menu ul li a:hover ul li a {display: block; background: #ddd; color: #000; text-align: left; padding-left: 10px; border-bottom: 1px solid #c6cacd; width: 143px}
.menu ul li a:hover ul#menuMedicao {width: 197px}
.menu ul li a:hover ul#menuMedicao li a {display: block; background: #ddd; color: #000; text-align: left; padding-left: 10px; width: 195px}
.menu ul li a:hover ul#menuMedicao li a.hide {display: none}
.menu ul li a:hover ul#configuracao {width: 145px}
.menu ul li a:hover ul#configuracao li a {display: block; background: #ddd; color: #000; text-align: left; padding-left: 10px; width: 143px}
.menu ul li a:hover ul#configuracao li a.hide {display: none}
.menu ul li a:hover ul li a ul {visibility: hidden;}
.menu ul li a:hover ul li a:hover {background: #e6ebee; color: #000;}
.menu ul li a:hover ul#menuMedicao li a:hover {background: #e6ebee; color: #000;}
.menu ul li a:hover ul#configuracao li a:hover {background: #e6ebee; color: #000;}
.menu ul li a:hover ul li a:hover ul {visibility: visible; position: absolute; left: 154px; top: 0; color: #000;}
.menu ul li a:hover ul#menuMedicao li a:hover ul#submenuMedidor {display: block; position: absolute; left: 205px; top: 0; width: 206px;}
.menu ul li a:hover ul#menuMedicao li a:hover ul#submenuMedidor li a {width: 198px}
.menu ul li a:hover ul#menuMedicao li a:hover ul#submenuLeitura {display: block; position: absolute; left: 205px; top: 0; width: 263px;}
.menu ul li a:hover ul#menuMedicao li a:hover ul#submenuLeitura li a {width: 255px}
.menu ul li a:hover ul#menuMedicao li a:hover ul#submenuDadosCompraGas {display: block; position: absolute; left: 205px; top: 0; width: 120px;}
.menu ul li a:hover ul#menuMedicao li a:hover ul#submenuDadosCompraGas li a {width: 122px}
.menu ul li a:hover ul li a:hover ul.left {left: -163px;}