.ggas_home_geral {
	position:absolute;
	top:80px;
	left:265px;
}

.ggas_home_esq {
/*float: left;*/
width: 90%;
line-height: 20px;
background-color: #eef5f7;
border: 1px solid #d4d9db;
padding: 10px;
margin-right: 1%;
margin-left:20px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background-color: #eef5f7;
-moz-box-shadow: 0 0 5px #7b7b7b;
-webkit-box-shadow: 0 0 5px#7b7b7b;
box-shadow: 0 0 5px #7b7b7b;
}

.ggas_home_dir {
	float:left;
	width:90%;
	margin:0 auto;
	background-color:#eef5f7;
	border:1px solid #d4d9db;
	padding:10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px; 
	border-radius: 3px;
	background-color: #eef5f7;
	-moz-box-shadow: 0 0 5px #7b7b7b;
	-webkit-box-shadow: 0 0 5px#7b7b7b;
	box-shadow: 0 0 5px #7b7b7b;
	position: relative;
	left: 485px;
	top: -247px;
	
}
.ggas_home_title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	font-weight:bolder;
	color:#004890;
}
.ggas_home_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bolder;
	color:#004890;
}
.ggas_home_list_title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bolder;
	color:#004890;
}

hr{
	border:1px dotted #c8d5d9;
}

/*Listas*/
#links ul {
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
}
#links li {
	margin:10px 0;
	background-color:#eef5f7;
}
#links li a {
	color:#004890;
	display:block;
	font:bold 12px Arial, Helvetica, sans-serif;
	padding:5px;
	text-decoration:none;
}
* html #links li a {
	width:400px;
} /*Necessario para que funcione no IE6*/
#links li a:hover {
	background-color:#e0ecf0;
}
/*Listas*/