/* Estrutura básica
-----------------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif; color:#2c2d37;
	height: 100%;
	background-image:url(../images/bodybg.png); background-repeat:repeat;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

h1 h2 h3 h4 h5 h6{font-family:Arial, Helvetica, sans-serif; color:#2c2d37;}

hr{ border:1px dotted #d7ceaf; margin:10px 0 10px 0;}

/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 50px;
	background: #4c8fbd;
	width:100%;
	position:relative;
	/*margin:0 auto;*/
	top:0px;
	right:0px;
	left:0px;
	bottom:0px;
}

#headerPopup {
	height: 40px;
	background: #4c8fbd;
	padding:10px 0 0 10px;
}

.ggas_header_logo{width:255px; height:20px; margin:10px 0 0 0; float:left; text-align:center;}
img.ggas_header_perfil_ico{vertical-align:middle;}
.ggas_header_perfil ul{width:auto; height:20px; float:left; padding:10px 0 0 0; margin:0px; list-style:none; }
.ggas_header_perfil ul li{display: inline; padding:0 5px 0 0; font-size:12px; color:#fff; font-weight:bolder; text-decoration:none;}
/*.ggas_header_perfil ul li a{padding:0 5px 0 0; font-size:12px; color:#fff; font-weight:bolder; text-decoration:none;}*/
/*.ggas_header_perfil ul li a:hover{text-decoration:underline;}*/
.ggas_header_controle{margin:0 auto;}
.ggas_header_controle ul{width:auto; height:20px; margin:0px; float:right; padding:10px 0 0 0; list-style:none;}
.ggas_header_controle ul li{display: inline;}
.ggas_header_controle ul li a{padding:0 5px 0 0;}
.ggas_header_favorites{width:300px; height:20px; margin:300px 0 0 0; float:left; text-align:center;}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 50px;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '';
	clear: both;
	display: table;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0 0 0 270px;
}

.ggas_content_miolo_de_pao{width:99%; height:20px; margin:10px 0 0 0;}
.ggas_content_notificacoes{width:99%; margin:10px 0 0 0;}
.ggas_content_conteudo{width:99%; height:auto; background-color:#f6f3e1; border:2px solid #d7ceaf; margin:10px 0 10px 0; padding:10px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}

/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	/*float: left;*/
	width: 255px;
	/*margin-left: 0px;*/
	/*margin-top:0px;*/
	/*height: 465px;*/
	/*height: 90%;*/
	position: absolute;
  	overflow: hidden;
  	overflow-x: hidden;
  	top:96px;
  	left:0px;
}

.ggas_search{
	background-color:#fef6d7; 
	border:1px solid #d3d3d3; 
	padding:10px;
	width: 233px;
	font-family:Tahoma, Geneva, sans-serif; 
	font-size:12px; 
	font-weight:bolder; 
	color:#099;  
	height:auto;}

/* Botões
-----------------------------------------------------------------------------*/
.ggas_botao {
	background-color:#437ea6;
   -moz-border-radius:3px;
   -webkit-border-radius:3px;
   border-radius:3px;
   border:1px solid #376788;
   display:inline-block;
   color:#fff;
   font-family:arial;
   font-size:15px;
   font-weight:bold;
   padding:6px 24px;
   text-decoration:none;
   cursor: pointer;
}.ggas_botao:hover {
	background-color:#2a4e67;
    border:1px solid #376788;
}.ggas_botao:active {
	position:relative;
	top:1px;
    background-color:#1197f4;
    border:1px solid #376788;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
/* Botões
-----------------------------------------------------------------------------*/
/* Login
-----------------------------------------------------------------------------*/
.ggas_login {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -280px;
	margin-top: -140px;
	width:509px;
	height:auto;
}
img.ico_login_{
	vertical-align:middle;
}
.ggas_arial_bold_15{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
	color:#437ea6;
	font-size:13px;
	padding:20px 0 20px 0;
}
.ggas_arial_bold_15_esqueci_minha_senha{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
	color:#437ea6;
	font-size:13px;
	padding:20px 0 20px 0;
}
.ggas_arial_bold_15_esqueci_minha_senha:hover{
	/*font-family:Arial, Helvetica, sans-serif;*/
	/*font-weight:bolder;*/
	color:#552200;
	/*font-size:13px;*/
	/*padding:20px 0 20px 0;*/
}
.ggas_space_bt_login{	
	padding:20px 0 20px 0;
}
-----------------------------------------------------------------------------*/
/* AlertifyJS
-----------------------------------------------------------------------------*/
.alertify-notifier .ajs-message {
  width:500px;
}
.alertify-notifier.ajs-right .ajs-message.ajs-visible {
  right: 530px;
}