.main_container {
	/*width: 100%;
	margin:0 auto;
	padding:0 0 0 20px;*/
}
.notification {
	line-height: 30px;
	cursor: pointer;
	/*clear: both;*/
	height: 45px;
	margin: 8px 0px 8px 0px;
	padding: 10px 15px 18px 60px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.notification strong {
	margin-right: 5px;
}
.notification p {
	font-size: 15px;
	font-weight:bolder;
	padding-top: 8px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	margin: 0px;
	color: #fff;
}
.message p {
	font-size: 11px;
}
.mensagemAlerta {
	background-image: url(../images/error.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	/*border: 2px solid #FFC237;*/
	background-color: #e8c800;
	/*color: #826200;*/
}
.mensagemSucesso {
	background-image: url(../images/accept.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	/*border: 2px solid #99C600;*/
	background-color: #72a200;
	/*color: #3C5A01;*/
}
.failure {
	background-image: url(../images/exclamation.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	/*border: 2px solid #EB5339;*/
	background-color: #c23838;
	/*color: #AC260F;*/
}
.information {
	background-image: url(../images/information.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	/*border: 2px solid #418ACC;*/
	background-color: #0083d3;
	/*color: #235685;*/
}
.lightbulb {
	background-image: url(../images/lightbulb.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #D3A350;
	background-color: #FEF0CB;
	color: #835F21;
}
.messages {
	background-image: url(../images/email.png);
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #42B4FF;
	background-color: #9DDFFF;
	color: #835F21;
}
