/** classic skin **/

/** general settings **/
.ctAccordion.skin-classic a, .ctAccordion.skin-classic span {
	text-decoration: none;
	display: inline-block;
	font-family: Verdana, Geneva, sans-serif;
	padding: 2px 20px 2px 0;
	font-size: 12px;
	min-width: 50px;
}
/** 1st level **/
.ctAccordion.skin-classic {
	padding: 0;
	margin: 0;
	list-style: none;
}
.ctAccordion.skin-classic > li {
	width: 255px;
}
.ctAccordion.skin-classic > li > a, .ctAccordion.skin-classic > li > span {
	padding: 15px 15px;
	background: #dddddd;
	width: 225px;
	color: #000;
	margin: 1px 0 0 0;
	border:1px solid #d4d4d4;

}
.ctAccordion.skin-classic > li > a:hover {
	color: #2c2d37;
	background: #fff;
}
.ctAccordion.skin-classic > li > a.searchMatch {
	background: #fffde2;
}
.ctAccordion.skin-classic > li > span {
	color: #3300CC;
}
/** 2nd level **/
.ctAccordion.skin-classic > li > ul {
	list-style-type:none;
	margin:0 0 0 13px;
	padding: 0 0 0 15px;
	background: #e5e7e7;
	border:1px solid #d4d4d4;
}
.ctAccordion.skin-classic > li > ul > li {
}
.ctAccordion.skin-classic > li > ul > li > a {
	color: #000;
	font-size: 12px;
	/*background-color: #e5e7e7;*/
	background-color: #bfbfbf;
	border:1px solid #d4d4d4;
	padding:15px;
	width:100%;
	margin:0 0 0 -30px;
}

.ctAccordion.skin-classic > li > ul > li > a:hover {
	color: #000;
	background-color: #fff;
}
.ctAccordion.skin-classic > li > ul > li > a.searchMatch {
	color: #fff;
	font-size: 12px;
	background-color: #4c8fbd;
}
.ctAccordion.skin-classic > li > ul > li > span {
	color: #B7D6EA;
	background-color: #985;
}
/** segundo nivel**/


.ctAccordion.skin-classic > li > ul > li.link > a {
	background-color:#fffde2;
	color: #2c2d37;
	font-size: 12px;
	padding: 15px 15px;
	border:1px solid #d4d4d4;
	/*margin:0 0 0 -36px;*/
	margin:-1px 0px -2px -31px;
	width:100%;
}

.ctAccordion.skin-classic > li > ul > li.link > a:hover {
	color: #2c2d37;
	background-color:#d0ceb9;
	padding: 15px 15px;
	border:1px solid #d1cfbc;
}
.ctAccordion.skin-classic > li > ul > li.link > a.searchMatch {
	color: #2c2d37;
	background-color:#e9e7ce;
}
.ctAccordion.skin-classic > li > ul > li.link > span {
	color: #F0B3B3;
}


/** 3rd level **/
.ctAccordion.skin-classic > li > ul > li > ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0 5px;
	width:225px;
}
.ctAccordion.skin-classic > li > ul > li > ul > li {
}
.ctAccordion.skin-classic > li > ul > li > ul > li > a {
	background-color:#fffde2;
	color: #2c2d37;
	font-size: 12px;
	padding: 15px 15px;
	border:1px solid #d4d4d4;
	margin:0 0 0 -36px;
	width:100%;
}
.ctAccordion.skin-classic > li > ul > li > ul > li > a:hover {
	color: #2c2d37;
	background-color:#d0ceb9;
	padding: 15px 15px;
	border:1px solid #d1cfbc;
}
.ctAccordion.skin-classic > li > ul > li > ul > li > a.searchMatch {
	color: #2c2d37;
	background-color:#e9e7ce;
}
.ctAccordion.skin-classic > li > ul > li > ul > li > span {
	color: #F0B3B3;
}
/** fieldset **/
/*fieldset {
	width: 280px;
	margin-top: 20px;
}
fieldset img {
	vertical-align: middle;
}
fieldset label {
	display: block;
}*/

.ggas-enter{float:left; margin-right:10px;}