.form-control.is-invalid, .custom-select:invalid, .custom-select.is-invalid {
  border-color: #dc3545 !important;
}

/**
  * Estilo aplicado em ID pois div desse ID é inserido manualmente e não possui classe.
  */
#detalhamentoGasista {
  margin-left: 6px;
}

.copiar-observacao {
  top: -1px;
  position: absolute;
  left: 159px;
}
